@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    --color-base-100: #1a1b1f;
    --color-base-200: #2a2d32;
    --color-base-300: #2a2d32;

    --color-primary: #3d67db;
    --color-warning: #f3ce48;
    --color-info: #b787f3;
    --color-success: #76da88;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #3d67db;
    --color-warning: #f3ce48;
    --color-info: #b787f3;
    --color-success: #76da88;
}
